.fixed {
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.btn_index {
  z-index : 1000;
}

.alingcenter .v-input__append-inner {
  align-self : center
}

.memo {
  position: absolute;
  text-align: center;
}