<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="./css/main.css">

</head>

<body>
  <div id="app" @wheel="wheel">

    <!-- 메인 버튼 -->
    <v-app>
      <div class="fixed flex btn_index">
        <v-btn fab dark class="mt-3" @click="btnOpenToggle" color="primary">
          <v-icon v-show="btnopen">mdi-checkbox-blank-circle-outline</v-icon>
          <v-icon v-show="!btnopen">mdi-dots-vertical</v-icon>
        </v-btn>
        <v-slide-y-reverse-transition group class="flex">
          <v-btn class="mt-3" v-for="(btn, i) in subbtn" :key="i" fab dark color="primary" v-if="btnopen" small
            @click="openMemoForm(i)">
            <v-icon>{{btn.icon}}</v-icon>
          </v-btn>
      </div>


      <!-- 메모 폼 -->
      <v-dialog v-model="formopen" max-width="450">
        <v-card>
          <v-card-title class="accent white--text">
            메모작성
          </v-card-title>
          <v-form class="px-8 pb-4" @submit.prevent="addMemo" ref="form">
            <v-text-field label="메모의 제목을 입력해주세요" dense counter maxlength="25" clearable
              class="mt-7 headline alingcenter" :rules="rules" required height="40" v-model="memotitle" v-if="formopen">
            </v-text-field>
            <v-textarea outlined name="input-7-4" label="메모 내용" class="mt-7" counter clearable v-model="memocontent">
            </v-textarea>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="formopen = false" class="error">
                취소
              </v-btn>
              <v-btn class="success" type="submit">
                등록
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <memo-component>
        <template>
          <v-card v-for="(n, i) in memolist" :key="i" class="memo pa-3 yellow lighten-3" max-width="400" min-width="200"
            elevation="1" @mousedown.left="onCardDown">
            <h1>{{n.title}}</h1>
            <p>{{n.content}}</p>
          </v-card>
        </template>
      </memo-component>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./components/MemoComponent.js"></script>
  <script src="./main.js"></script>
</body>

</html>